* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f7f8fc;
  font-family: sans-serif;
}

           /* Nav bar + Hero Section */
           
.background-img {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.container,.container-2 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  padding: 50px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 34px;
  font-weight: 700;
  color: #3b3bff;
}

.signup-btn {
  background-color: #3b3bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 500;
  transition: background 0.3s;
}

.signup-btn:hover {
  background-color: #02022d;
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 66px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 37px;
  color: #1c1c1c;
}

.hero-btn {
  background-color: #3b3bff;
  color: white;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 7px;
  text-decoration: none;
  transition: background 0.3s;
}

.hero-btn:hover {
  background-color: #02022d;
}

              /* Action Section */

.action-section {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 40px;
  padding: 140px 190px;
  background-color:  #f7f8fc;
  color: #000000;
  flex-wrap: wrap;
}

.action-text {
  flex: 1;
  max-width: 500px;
}

.action-text h3 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

.action-text p {
  font-size: 1.5rem;
  font-weight: 100;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 30px;
  line-height: 1.6;
  color: rgba(37, 36, 50, 0.5);
}

.action-text button {
  padding: 14px 32px;
  background-color: #3b3bff;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.action-text button:hover {
  background-color: #000000;
}

.action-image {
  flex:auto;
  text-align: right;
}

.action-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

           /* Productive Users Section */

.stats-section {
  text-align: center;
  padding: 0px 180px;
  background-color: white;
  color: #000000;
  background-color: #f7f8fc;
}

.for-bg-color{
  background-color: rgba(78, 71, 255, 0.1);
  height: 300px;
  border-radius: 20px;
}

.stats-section h1 {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  padding-top: 30px;
}

.stats-container {
  display: flex;
  justify-content: center;
  gap: 250px;
  flex-wrap: wrap;
  
}

.stat-box {
  min-width: 150px;
}

.stat-box h2 {
  font-size: 5rem;
  color: #3b3bff;
  margin-bottom: 0px;
  font-family:Arial, Helvetica, sans-serif;
  
}

.stat-box p {
  font-size: 1.5rem;
  font-weight: 100;
  color: rgba(37, 36, 50, 0.5);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

           /* User's Feedback Section */

.feedback-section {
  background-color: #f7f8fc;
  padding: 100px 20px;
  text-align: center;
  font-family: sans-serif;
}

.feedback-section h1 {
  font-size: 2.5rem;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
  
}

.feedback-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.feedback-card {
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  width: 400px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.stars {
  display: flex;
  gap: 4px;
  margin-bottom: 20px;
}

.stars img {
  width: 20px;
  height: 20px;
}

.feedback-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 700;
  color: #1a1a1a;
}

.feedback-card p {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 25px;
  line-height: 1.5;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.reviewer strong {
  display: block;
  color: #444;
  font-size: 0.95rem;
}

.date {
  font-size: 0.85rem;
  color: #aaa;
}

             /* focus Better Section */

.focus-better {
  background-color: #f5f7fa;
  padding: 50px 200px;
  font-family: sans-serif;
}

.focus-2 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.focus-content {
  text-align: center;
  max-width: 700px;
}

.focus-content h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
  color: #111;
}

.focus-content p {
  font-size: 1.1rem;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 30px;
}

.focus-content button {
  padding: 14px 30px;
  font-size: 1rem;
  background-color: #3b3bff;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: background 0.3s;
}

.focus-content button:hover {
  background-color: #000000;
}

.focus-content img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

             /* Get In Touch Section  */

.contact-section {
  background-color: #f7f8fc;
  padding: 100px 20px;
  font-family: sans-serif;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contact-title h1 {
  font-size: 5.5rem;
  font-weight: 700;
  padding-top: 130px;
  color: #111;
  line-height: 1.2;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  font-size: 0.95rem;
  font-weight: 600;
  color: #111;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  resize: none;
  padding: 15px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #fff;
}

.contact-form textarea {
  min-height: 100px;
}

.contact-form button {
  margin-top: 10px;
  padding: 15px;
  font-size: 1rem;
  background-color: #3b3bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: #000000;
}

                  /* Footer Section */

.footer {
  background-color: white;
  color: #3b3bff;
  padding: 170px 20px;
  text-align: center;
  font-size: 4rem;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.footer-content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.footer-content p {
  font-size: 1rem;
  color: rgba(37, 36, 50, 0.5);
  margin-top: 20px;
  text-align: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-links li a {
  text-decoration: none;
  color: rgba(37, 36, 50, 0.5);
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links li a:hover {
  color: black;
}